@import url(https://fonts.googleapis.com/css?family=Ubuntu|Oswald|Cuprum);

html{
	background:inherit;
	color:inherit;
    font-family: Ubuntu, Arial, Verdana, Times New Roman;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, blockquote, address{
	margin:0;
	padding:0;
}
fieldset, img{
	border:none;
}
address, caption, cite, code, dfn, var{
	font-style:normal;
	font-weight:normal;
}
a{
	outline:none;
	text-decoration:none;
}
img{
	border:none;
}

body,html,tr,td,table {
	font-size: 1em;

}
body, html{
	height: 100%;
}

h1 {
	font-family: 'Oswald', Arial, serif;
	font-weight: 400;
}

h2{
	font-family: 'Oswald', Arial, serif;
	font-weight: 400;
	font-size: 20px;
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*:focus {
	outline: 0;
}


body{
	background-color: #666;
}



/* ========= Login ======================================================= */


#login-content{
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom: 0;
	overflow-auto;
	width: 100%;
	height: 100%;
	background-color: #666;
}


#login-card{
	position: absolute;
	height: 400px;
	width: 800px;
	border-radius: 4px;
	top: 50%;
	left: 50%;
	margin-top: -200px;
	margin-left: -400px;
	display: table;
	background-color: #f7f7f7;
	background-color: #ccc;
	box-shadow: 0 0 20px #666;
}


#login-card #face1, #login-card #face2{
	width: 400px;
	height: 400px;
	display:table-cell;
	vertical-align: middle;
	color: #fff;
	font-size: 40px;
}

#login-card #face1 img{
	width: 300px;
}

#login-card #face1{
	background-color: #fff;
	text-align: center;
}

#login-form{
	width:302px;
	margin: 50px;
}

.login-form-input{
	width: 290px;
	margin-bottom: 16px;
	font-size: 22px;
	line-height: 22px;
	border: 0;
	border-bottom: 1px solid #ccc;
	color: #999;
	padding: 6px;
	background-color: #fff;
}

.login-error{
	width: 600px;
	padding: 26px;
	top: 40px;
	left: 50%;
	margin-left:-300px;
	background-color: #ffcc00;
	position: fixed;
	z-index: 999999999;
	text-align: center;
	font-size: 20px;
}
.login-error-close{
	position:absolute;
	top: 6px;
	left:50%;
	margin-left: 290px;
	width:30px;
	height:30px;
	background-color: #fff;
	text-align:center;
	font-size: 22px;
	line-height: 30px;
	border-radius: 50%;
	cursor: pointer;
	cursor: hand;
}



/* ========= Cabeçalho ======================================================= */

.menu-logo{
	width: 100%;
}
.menu-logo img{
    width: 200px;
    margin: 20px 10px;
}

.clear{
    clear: both;
}

#Content{
    width: 100%;
    height: 90%;
}

.menu-lateral-logo{
     width: 10vw;
     margin: 6vh auto;
 }


/* ============= campos de formulario =============================================== */

label{

    display: block;
    font-size:20px;
    font-family: Cuprum, Arial;
    fonte-weight: 900;
    clear: both;
}

.form-input-text1{
    margin: 10px;
    display: block;
}

.input-text-1 {
    width: 28%;
}
.input-text-left {
	position: relative;
	float: left;
}


#box_usuario {
	min-width: 300px;
	width: 100%;
	-webkit-box-reflect:below 2px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.7, transparent), to(rgba(255,255,255,0.3)));
	display: table;
	margin: 20px 0;
}
#box_usuario a:hover {  text-decoration: none}

#box_usuario_txt{
	min-width: 240px;
	width: 300px;
	position: relative;
	float:right;
}

.box_usario_nome{
	font-family: 'Oswald', Arial, Verdana;
	font-size: 18px;
	color: #FCEE21;
	text-shadow: 1px 1px 3px #000000;
	text-align: left;
	width: 100%;
	padding-left: 10px;
	margin-left: 50px;
}
.box_usuario_detalhes{
	font-family: Arial, Verdana;
	font-size: 14px;
	color:#ffffff;	!important;
	text-shadow: 1px 1px 1px #333333;
	font-weight:300;
	background-color: #999999;
	/* border: 1px solid #cccccc;  */
	 -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px; 
	padding:2px 4px 2px 4px;
}
.box_usuario_detalhes a{
	color:#ffffff;	!important;
}
.box_usuario_detalhes:hover{
	background-color: #666666;
}
.box_foto {
	background-image: url('/sistema/img/icones/boxc.png');
	background-repeat: no-repeat;
	background-size: 50px 50px;
	margin: 0px 5px 0px 0px;
	float: left;
	width: 50px;
	height: 50px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.btn-add-task {
	background-color: green;
	padding: 16px;
	border: 0px;
	border-radius: 30px;
	line-height: 20px;
	color: #fff;
	font-size: 1.1rem;
    margin-top: 20px;
	margin-bottom: 16px;
    cursor: pointer;
}
.btn-add-task span{
	margin-right: 10px;
	font-size: 1.6rem;
}
	/* === menu de ferramentas ==================================================================*/

.menu_ferramentas{
	margin: 0px 10px 10px 0px;
	padding:10px;
	background-color: #ffffff;
	 -webkit-border-radius: 3px;
    -moz-border-radius: 3px;	
    border-radius: 3px; 
    -webkit-box-shadow: 0px 0px 40px 3px #666666;
	width:220px;
	/* float:left; */
	cursor: pointer;
	cursor: hand;
}

ul.nobullet li{
	list-style:none;
}

.menu_ferramentas_item{
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #f4f4f4 49%, #efefef 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(49%,#f4f4f4), color-stop(100%,#efefef)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#f4f4f4 49%,#efefef 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#f4f4f4 49%,#efefef 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#f4f4f4 49%,#efefef 100%); /* IE10+ */
	background: linear-gradient(top, #ffffff 0%,#f4f4f4 49%,#efefef 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#efefef',GradientType=0 ); /* IE6-9 */
	padding:10px;
	font-family:'Oswald', Arial, Verdana;
	font-size: 16px;
	font-weight:300;

}	
.menu_ferramentas_item:hover{
	background: #cccccc;
}
.menu_ferramentas_subitem{
	background-color: #efefef;
	padding:3px;
	padding-left: 30px;
	font-family:'Oswald', Arial, Verdana;
	font-size: 14px;
	font-weight:100;
	color: black;
}

.menu_ferramentas_subitem a{
	color: black;
}
.menu_ferramentas_subitem:hover{
background-color: #cccccc;
}

.menu_ferramentas_icone{
	width: 16px;
	height: 16px;

}


/* =====  tooltip======================================================================= */
a.tooltip{
	position:relative; /*this is the key*/
}
a.tooltip:hover{z-index:25;}
a.tooltip span{display: none; }
a.tooltip:hover span{ /*the span will display just on :hover state*/
	display:block;
	position:absolute;
	top:2em; left:-20px; width:15em;
	background-color:#ffffcc;
	color:#000;
	text-align: left;
	border: 1px solid #666666;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 6px;
	font-family: Arial, Verdana;
	font-size: 14px;
	text-shadow: 0px 0px 0px #666666;
	text-decoration: none;
}


/* === conteudos das ferramentas ==================================================================*/


.sistema_conteudos{
	margin: 0px 10px 10px 0px;
	padding:20px;
	background-color: #ffffff;
	 -webkit-border-radius: 3px;
    -moz-border-radius: 3px;	
    border-radius: 3px; 
    -webkit-box-shadow: 0px 0px 40px 3px #666666;
	width:720px;
	width:100%;
	/* float:right; */
	display:table;
}


.titulo_controlador_acao {
	background-color: #cccccc;
	margin: 0px 0px 20px 0px;
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;	
    border-radius: 4px;
	/* width:680px; */
	display: block;
	padding:2px;
	
	
}

.titulo_controlador, .titulo_acao{
	font-family: 'Cuprum', Arial, Verdana;
	font-size: 36px;
	font-weight: 100;
	padding: 10px 30px 10px 10px;
	color: #000000;
}
.titulo_acao{
	font-size: 24px;
}




/* =================== mensagens =================================================================== */

.dica, .msg_dica, .info, .msg_erro, .msg_sucesso, .msg_ok, .msg_aviso, .whisper, .msg_form_incluir {
	border:1px solid #cccccc;
	
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-khtml-border-radius:5px;
	border-radius:5px;
	
	-moz-box-shadow: 0px 5px 10px #C2C2C2;
    -webkit-box-shadow: 0px 5px 10px #C2C2C2;
    -o-box-shadow: 0px 5px 10px #C2C2C2;
    box-shadow: 0px 5px 10px #C2C2C2;
	
	/* padding:20px 10px 20px 40px; */
	position:relative;
	text-align:left;

	font-family: "Oswald";
	font-size: 16px;
	color: black;
	
	min-height: 50px;
	padding: 8px 8px 8px 70px;

	background-color: #ffffcc;	
	margin: 10px 0px 20px 0px;

	min-height: 70px;

}
.dica, .msg_dica{	
	background:#ffffcc url('/sistema/img/icones/32_dica.png') no-repeat 10px 10px;		
}

.msg_sucesso, .msg_ok{
	background: #E9FBB4 url('/sistema/img/icones/48_sucesso.png') no-repeat 10px 10px;		
	color:#2E640A;
}
.info {
	/*	background:#ffffcc url('/sistema/img/icones/32_info.png') no-repeat 10px 10px;	 */
	padding: 8px;
	background-color: #eaeaea;
    vertical-align: middle;
}
.msg_aviso {
	background:#ffcc66 url('/sistema/img/icones/48_alerta.png') no-repeat 10px 10px;	
}
.msg_erro {
	background: #EA8380 url('/sistema/img/icones/48_erro2.png') no-repeat 10px 6px;	
}
.whisper {
	background: #cccccc url('/sistema/img/icones/32_whisper.png') no-repeat 10px 6px;	
	min-height:30px;
}
.close{
	background:url('/sistema/img/close.png') no-repeat;
	display:block;
	height:13px;
	position:absolute;
	right:10px;
	top:10px;
	width:12px;
	
}
.msg_form_incluir {
	background: #f7f7f7 url('/sistema/img/icones/22_incluir.png') no-repeat 10px 6px;	
	min-height:20px;
	padding: 6px 6px 6px 40px;
	margin-bottom: 4px;
}

.avisos {  
	background: #cccccc;
	margin-top: -22px;
	/* display: block; */	
	float: right;
	/* position: relative; */
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;	
	padding:2px;
	margin-bottom: 10px;
	
	
}
.avisos img{
	margin: 02px 5px 0 5px;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
     opacity: 0.5;
}
.avisos img:hover{
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -moz-opacity:1.0;
    -khtml-opacity: 1.0;
     opacity: 1.0;

}
.avisos a{
	text-decoration: none;
}
/* ============= campos de formulario =============================================== */


 input,  textarea, select,  file {
	padding: 5px;
	background-color: #FFFFDF;
	background-color: transparent;
	font-family: Verdana, Arial, Times New Roman;
	font-size: 14px;
	border: 0;
	border-bottom:1px solid #333333;

} 



input:focus, textarea:focus, select:focus, file:focus{
	outline:2px;
}


input:required:invalid,  input:required:valid, input:focus:invalid, input:required:invalid {
  -moz-box-shadow: none;
  color: #000000;
}
input:required:invalid, input:focus:invalid {
	background-color: #FFDA91;	
	background-image: url('/img/icones/deletar.png');
	background-position: 95% 50%;
	background-repeat: no-repeat;
	color: #000000;
}

input:focus:valid, input:required:valid, email:focus:valid, email:required:valid, textarea:focus {
	background-color: #E9FBB4;
}


.hr_separador, hr{
      border-top: 1px dashed #cccccc;
      border-bottom: 0px;
      color: #cccccc;
      background-color: #;
      height: 1px;
      margin: 10px 0px 10px 0px;
}
.checkbox {
	border:	10px;
	background-color: transparent;	
}
input[type="radio"]{ border: 3px; }






.botao_padrao, .botao_selecionar, .botao_usuario, .botao_voltar, .botao_editar, .botao1, .botao_salvar, .botao_excluir, .botao_incluir, .botao_destaques, .botao_senha, .botao_categorias, .botao_ordem, .botao_config, .botao_perfil, .botao_relatorio {
	-moz-box-shadow: 0px 3px 6px -1px #000000;
	-webkit-box-shadow: 0px 3px 6px -1px #000000;
	box-shadow: 0px 3px 6px -1px #000000;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a8381f), color-stop(1, #501f13) );
	background:-moz-linear-gradient( center top, #a8381f 5%, #501f13 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a8381f', endColorstr='#501f13');
	background-color:#a8381f;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #ffffff;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:14px;
	font-weight:bold;
	padding: 8px 24px 8px 24px;
	text-shadow: 1px 1px 1px #000;
	display:block;
	height: 40px;
	width: 100%;
	cursor: pointer;

}


#formulario1 label.error, #formulario2 label.error, #formulario3 label.error { 
	position: relative;
	display: block;
	height: 30px;
	background: #EA8380 url('/img/recursos/erro.png') no-repeat 6px 6px;	
	padding: 10px 4px 4px 38px;	
		-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-khtml-border-radius:5px;
	border-radius:5px;
}
/* ==========  conteudos dos formularios ================================================= */



/* ============== sugestoes ajax ===================================== */
.suggestionsBox {
    position: relative;
    left: 0px;
    margin: 3px 0px 0px 0px;
    width: 400px;
    background-color: #212427;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border: 1px solid #000;
    color: #fff;
}
 
.suggestionList {
    margin: 0px;
    padding: 10px;
}
 
.suggestionList li {
    margin: 0px 0px 3px 0px;
    padding: 3px;
    cursor: pointer;
}
 
.suggestionList li:hover {
    background-color: #659CD8;
}






/* === Impromptu ========================================================== */

.cleanbluewarning .cleanblue{
	background-color: #ffffff;
}
.cleanbluefade{
	position: absolute;
	background-color: #000000;
}
div.cleanblue{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	position: absolute;
	background-color: #ffffff;
	max-width: 500px;
	width: 80%px;
	font-size: 14px;
	text-align: left;
	border: solid 1px #521F13;
	-moz-border-radius:9px;
	-webkit-border-radius:9px;
	-khtml-border-radius:9px;
	border-radius:9px;
}
div.cleanblue .cleanbluecontainer{
	background-color: #ffffff;
	padding: 5px;
	font-weight: bold;
	-moz-border-radius:9px;
	-webkit-border-radius:9px;
	-khtml-border-radius:9px;
	border-radius:9px;
}

div.cleanblue .cleanblueclose{
	background:url('/sistema/img/close.png') no-repeat;
	display:block;
	height:13px;
	position:absolute;
	right:10px;
	top:10px;
	width:12px;
	}

div.cleanblue .cleanbluemessage{
	padding: 10px;
	line-height: 20px;
	font-size: 16px;
	font-family: Cuprum;
	color: #333333;
}
div.cleanblue .cleanbluebuttons{
	text-align: right;
	padding: 15px 0 15px 0;
	border: solid 1px #eeeeee;
	background: url('/sistema/img/rodape.png') repeat-x;
}
div.cleanblue button{
	-moz-box-shadow: 0px 3px 6px -1px #000000;
	-webkit-box-shadow: 0px 3px 6px -1px #000000;
	box-shadow: 0px 3px 6px -1px #000000;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a8381f), color-stop(1, #501f13) );
	background:-moz-linear-gradient( center top, #a8381f 5%, #501f13 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a8381f', endColorstr='#501f13');
	background-color:#a8381f;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #ffffff;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 0px 4px #000000;
	 margin: 0 10px;
}
div.cleanblue button:hover{
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #501f13), color-stop(1, #a8381f) );
	background:-moz-linear-gradient( center top, #501f13 5%, #a8381f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#501f13', endColorstr='#a8381f');
	background-color:#501f13;
 }
div.clieanblue button:active{
	position:relative;
	top:2px;
	-moz-box-shadow: 0px 1px 6px -1px #000000;
	-webkit-box-shadow: 0px 1px 6px -1px #000000;
	box-shadow: 0px 1px 6px -1px #000000;
}


#tabela_editar, .tabela_editar, .tabela_editar_disabled {
	font-size: 12px;
	/*background-color: #4D4D4D;*/
	border: 0px solid #000;
}
#tabela_editar th, .tabela_editar th, .tabela_editar_disabled th {
	text-align: left;
	padding: 5px;
	background-color: #6E6E6E;
}
#tabela_editar td, .tabela_editar td, .tabela_editar_disabled td {
	padding: 5px;
	/*border-left: 1px solid #cccccc;*/
	/*border-right: 1px solid #cccccc;*/
}
#tabela_editar .even, .tabela_editar .even{
	background-color: #ffffff;
}
#tabela_editar .odd, .tabela_editar .odd, .tabela_editar_disabled .odd {
	background-color: #eaeaea;
}
#tabela_editar th, .tabela_editar th, .tabela_editar_disabled th {
	background-image: url(/img/jquery/bg.jpg);
	background-repeat: no-repeat;
	padding-left: 30px;
	padding-top: 8px;
	height: auto;
}
#tabela_editar .headerSortUp, .tabela_editar .headerSortUp, .tabela_editar_disabled .headerSortUp{
	background-image: url(/img/jquery/asc.jpg);
	background-repeat: no-repeat;
}
#tabela_editar .headerSortDown, .tabela_editar .headerSortDown, .tabela_editar_disabled .headerSortDown {
	background-image: url(/img/jquery/desc.jpg);
	background-repeat: no-repeat;
}




a:link {  text-decoration: none; color: #000000;}
a:hover {  text-decoration: none;  color: #000000;}
a:visited {  text-decoration: none; color: #333333;}
a:active {  text-decoration: none;  color: #000000;}
.menu {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: bold}



#admin-menu{
	position: relative;
	float: left;
	width: 15%;
	margin-left: 30px;
	display: inline-block;
	min-width: 260px;
}

#admin-interface{
	position: relative;
	float: left;
	width: 70%;
	display: inline-block:
}

.table-tarefas{
	width:100%;
}
.table-tarefas tr td{
	padding: 15px;
	border-left: 1px solid #555;
}

input,  textarea, select,  file {
	width: 100%;
}

.help{
    width: 70%;
    position: relative;
    float: right;
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 40px;
}
.help ul{
    list-style-position: inside;
}
.help ul li{
    margin: 0 0 8px 0;
}

.status{
	width: 100px;
	padding: 6px;
	color: #fff;
	border-radius: 3px;
	cursor: pointer;
	cursor: hand;
	text-align:center;
    user-select:none;
}
.status.Pendente{
	background-color: #A69552;
}

.status.Andamento{
    background-color: #0080FF;
}

.status.Finalizada{
	background-color: #00AD56;
}

.field-descricao{
	width: 100%;
	height: 30px;

}

.abrindo{
	-webkit-animation-name: abrindo;
	-webkit-animation-duration: 1s;
	animation-name: abrindo;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}
@-webkit-keyframes abrindo {
	from {height: 30px;}
	to {height: 300px;}
}
@keyframes abrindo {
	from {height: 30px;}
	to {height: 300px;}
}

.fechando{
	-webkit-animation-name: fechando;
	-webkit-animation-duration: 1s;
	animation-name: fechando;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}
@-webkit-keyframes fechando {
	from {height: 300px;}
	to {height: 30px;}
}
@keyframes fechando {
	from {height: 300px;}
	to {height: 30px;}
}

.tarefa-prioridade{
    margin-top: 2px;
    padding: 8px 14px;
    color: #fff;
    display: inline-block;
    border-radius: 3px;
    cursor: pointer;
}

.tarefa-prioridade.prio1{
    background-color: #FF8040;
}

.tarefa-prioridade.prio2{
    background-color: #0080FF;
}

.tarefa-prioridade.prio3{
    background-color: #008000;
}